@tailwind base;
@tailwind components;
@tailwind utilities;

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@layer components {
  .review_card{
        @apply  w-4/12 h-auto border-solid  border-indigo-600 grid gap-5
        p-5 mt-5 shadow-xl  
  }
  .dot{
    @apply  h-4 w-4  
  }
  .footer{
    @apply p-5 text-black  text-center  justify-center content-center bg-no-repeat 
  }
  .card-one{
    @apply  border-2 w-3/12  pl-6 pr-4 border-violet-300 rounded pt-3 pb-3 drop-shadow-2xl
  }

 
  
}
@media (max-width: 640px) { 
  .header{
    @apply text-black
  }
  .home{
    @apply w-screen 
  }
  .mike-image,.podcost-img, .dot-continer-right, .dot-continer{
    @apply hidden
  }

          
        }
 /* screens: {
        'tablet': '640px',
        

        'laptop': '1024px',
        // => @media (min-width: 1024px) { ... }

        'desktop': '1280px',
        // => @media (min-width: 1280px) { ... }
      }, */
